<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title></title>
    <script src="../node_modules/vue/dist/vue.js"></script>
    <style>
      .errors { color: red; }
    </style>
  </head>
  <body>
    <div id="app">
      <form novalidate>
        <validation name="validation1">
          <div class="username-field">
            <label for="username">username:</label>
            <validatable field="username" :groups="['group1']" :validators="{ required: true, minlength: 3 }">
              <input id="username" @focus="onFocus" type="text" v-model="username">
            </validatable>
          </div>
          <div class="comment-field">
            <label for="comment">comment:</label>
            <validatable field="comment" :groups="['group2']" :validators="{ required: true, maxlength: 8 }">
              <input id="comment" type="text" v-model="comment">
            </validatable>
          </div>
        </validation>
        <pre>{{username}}</pre>
        <div class="errors">
          <!--
          <p v-if="$validation.username.required">Required your name.</p>
          <p v-if="$validation.comment.required">Required comment.</p>
          -->
        </div>
        <pre>{{$data}}</pre>
        <pre>{{$validation}}</pre>
      </form>
    </div>
    <script>
      const { bind, _Set, toObject, isPlainObject, noop, extend, resolveAsset, hasOwn } = Vue.util

      function getWatcher () {
        const vm = new Vue({ data: { a: 1 } })
        const unwatch = vm.$watch('a', function (a) {})
        const Watcher = vm._watchers[0].constructor
        unwatch()
        return Watcher
      }
      const Watcher = getWatcher() 

      function getDep () {
        return new Vue({ data: { a: 1 } })._data.__ob__.dep.constructor
      }
      const Dep = getDep()

      function makeComputedGetter (getter, owner) {
        const watcher = new Watcher(owner, getter, null, { lazy: true })
        return function computedGetter () {
          if (watcher.dirty) { watcher.evaluate() }
          if (Dep.target) { watcher.depend() }
          return watcher.value
        }
      }

      function isInteger (val) {
        return /^(-?[1-9]\d*|0)$/.test(val)
      }

      function minlength (val, min) {
        if (typeof val === 'string') {
          return isInteger(min, 10) && val.length >= parseInt(min, 10)
        } else if (Array.isArray(val)) {
          return val.length >= parseInt(min, 10)
        } else {
          return false
        }
      }

      function maxlength (val, max) {
        if (typeof val === 'string') {
          return isInteger(max, 10) && val.length <= parseInt(max, 10)
        } else if (Array.isArray(val)) {
          return val.length <= parseInt(max, 10)
        } else {
          return false
        }
      }

      function required (val) {
        if (Array.isArray(val)) {
          if (val.length !== 0) {
            let valid = true
            for (let i = 0, l = val.length; i < l; i++) {
              valid = required(val[i])
              if (!valid) {
                break
              }
            }
            return valid
          } else {
            return false
          }
        } else if (typeof val === 'number' || typeof val === 'function') {
          return true
        } else if (typeof val === 'boolean') {
          return val
        } else if (typeof val === 'string') {
          return val.length > 0
        } else if (val !== null && typeof val === 'object') {
          return Object.keys(val).length > 0
        } else if (val === null || val === undefined) {
          return false
        }
      }

      const validators = { required, minlength, maxlength }
      const assets = Object.create(null)
      extend(assets, validators)
      Vue.options.validators = assets

      const strats = Vue.config.optionMergeStrategies
      if (strats) {
        strats.validators = (parent, child) => {
          if (!child) { return parent }
          if (!parent) { return child }
          const ret = Object.create(null)
          extend(ret, parent)
          for (let key in child) {
            ret[key] = child[key]
          }
          return ret
        }
      }

      Vue.validator = (id, definition) => {
        if (!definition) {
          return Vue.options['validators'][id]
        } else {
          Vue.options['validators'][id] = definition
        }
      }

      class Validation {
        constructor (options = {}) {
          this.name = options.name
          this.groups = options.groups || []
          this.classes = options.classes || {}
          this.groups = new _Set()

          Vue.util.defineReactive(this, 'result', {})
        }

        set (key, val) {
          Vue.set(this.result, key, val)
        }

        get (key) {
          return this.result[key]
        }

        addGroup (name, validate) {
          const group = this.groups[name] = this.groups[name] || []
          group.push(validate)
        }

        _walkGroupValidResult (name) {
          const group = this.groups[name]
          let ret = true
          for (let i = 0; i < group.length; i++) {
            const validate = group[i]
            if (validate['valid'] === false) {
              ret = false
              break
            }
          }
          return ret
        }

        _walkGroupInValidResult (name) {
          const group = this.groups[name]
          let ret = false
          for (let i = 0; i < group.length; i++) {
            const validate = group[i]
            if (validate['invalid'] === true) {
              ret = true
              break
            }
          }
          return ret
        }

        updateGroupResult (name) {
          const result = {
            valid: this._walkGroupValidResult(name),
            invalid: this._walkGroupInValidResult(name)
          }
          this.set(name, result)
        }
      }


      Vue.mixin({ created: validationInit })

      function validationInit () {
        console.log('call validationInit', this)
        const options = this.$options
        const { validation } = options

        // validation instance injection
        if (validation) {
          this._validation = new Validation(validation)
        } else if (options.parent && options.parent._validation) {
          console.log('already parent instance!!')
          this._validation = options.parent._validation
        }

        // $validation computed property injection
        if (validation) {
          const validationName = typeof validation === 'string' ? validation : validation.name
          const computedDescriptor = {
            enumerable: true,
            configurable: true,
            set: noop,
            get: makeComputedGetter(function () { return this._validation.result }, this)
          }
          Object.defineProperty(this, `$${validationName}`, computedDescriptor)
        }
      }

      function getValidatorResult (name) {
        let ret = null
        if (this.results.length === 0) { return false }
        ret = false
        for (let i = 0; i < this.results.length; i++) {
          const result = this.results[i]
          if (result.name !== name) {
            continue
          } else {
            if (typeof result.value === 'boolean' && !result.value) {
              ret = true
              break
            }
            if (typeof result.value === 'string' && !result.value) {
              ret = result.value
              break
            }
          }
        }
        return ret
      }

      Vue.component('validate-control', {
        props: {
          field: {
            type: String,
            required: true
          },
          groups: {
            type: [String, Array],
            default: null
          },
          auto: {
            type: Boolean,
            default: true
          },
          validators: {
            type: [String, Array, Object],
            required: true
          },
          child: Object
        },
        data () {
          return {
            results: [],
            dirty: false,
            modified: false
          }
        },
        computed: {
          valid () {
            let ret = null;
            if (this.results.length === 0) { return true }
            ret = true
            for (let i = 0; i < this.results.length; i++) {
              const result = this.results[i]
              if (typeof result.value === 'boolean' && !result.value) {
                ret = false
                break
              }
              if (typeof result.value === 'string' && result.value) {
                ret = false
                break
              }
            }
            return ret
          },
          invalid () {
            return !this.valid
          },
          pristin () {
            return !this.dirty
          },
          result () {
            const ret = {
              valid: this.valid,
              invalid: this.invalid,
              dirty: this.dirty,
              pristin: this.pristin,
              modified: this.modified
            }
            this._validators.forEach(validator => {
              ret[validator] = this[validator]
            })
            console.log('result computed', ret)
            return ret
          }
        },
        watch: {
          valid (val, old) {
            console.log('validate-control:watch#valid', val, old, this)
            if (val) {
              this.$emit('valid', val)
            } else {
              this.$emit('invalid')
            }
          },
          dirty (val, old) {
            console.log('validate-control:watch#dirty', val, old)
            if (val) {
              this.$emit('dirty')
            } else {
              this.$emit('pristin')
            }
          },
          modified (val, old) {
            console.log('validate-control:watch#modified', val, old)
            this.$emit('modified')
          }
        },
        // render component with the child element
        render (h) {
          this.child.host = this // set this component
          console.log('validate-control#render', this.child, this._vnode)
          return this.child
        },
        created () {
          console.log('validate-control#created', this)
          if (typeof this.validators === 'string') {
            this._validators = [this.validators]
          } else if (Array.isArray(this.validators)) {
            this._validators = this.validators
          } else {
            this._validators = Object.keys(this.validators)
          }
        },
        mounted () {
          this._validation.set(this.field, this.result)
          if (this.groups) {
            this.groups.forEach(group => {
              this._validation.addGroup(group, this)
              this._validation.updateGroupResult(group)
            })
          }
          this._value = this.$el.value
          this.$el.vm = this // TODO: should be consider, so assigned vm instance with __vue__ 
          // TODO: must be keep the event handler, so need to destroy from DOM
          this.auto && this.$el.addEventListener('input', this.onInput)
          console.log('validate-control#mounted', this._value)
        },
        updated () {
          console.log('validate-control#updated', this._value)
        },
        destroyed () {
          this.auto && this.$el.removeEventListener('input', this.onInput)
        },
        methods: {
          $validate (value, cb) {
            this.results = []
            // TODO: should be implmented async validation
            this._validators.forEach(name => {
              const arg = typeof this.validators === 'object' ? this.validators[name] : null
              const fn = resolveAsset(this.$options, 'validators', name)
              const result = fn(value, arg)
              this.results.push({ name: name, value: result })
            })

            this._validation.set(this.field, this.result)
            if (this.groups) {
              this.groups.forEach(group => {
                this._validation.updateGroupResult(group)
              })
            }
            cb && cb(this.result)
          },
          onInput (e) {
            const value = e.target.value
            if (!this.dirty && this._value !== value) {
              this.dirty = true
            }
            this.modified = this._value !== value

            e.vm = this

            this.$validate(value, (result) => {
              console.log('$validate result', result)
              result.valid && this.$emit('input', e)
            })
          }
        }
      })

      Vue.component('validatable', {
        functional: true,
        props: {
          field: {
            type: String, required: true
          },
          groups: {
            type: [String, Array],
            default: null
          },
          auto: {
            type: Boolean,
            default: true
          },
          validators: {
            type: [String, Array, Object],
            required: true
          }
        },
        render (h, { props, children, data }) {
          console.log('validatable#render', props, children(), data)
          const child = props.child = children()[0]
          const { on } = child.data
          console.log('on', on)
          // setup event handler from event handlers of child
          //const on = { valid: child.data.on.valid } 
          let validators = props.validators
          if (typeof validators === 'string') {
            validators = [validators]
          } else if (Array.isArray(props.validators)) {
            validators = props.validators
          } else if (Vue.util.isPlainObject(props.validators)) {
            validators = Object.keys(props.validators)
          }

          // setup validate control component
          const comp = h('validate-control', { props/*, on*/ })
          
          // setup dynamic computed properties
          // TODO: should be fixed duplicated definition
          const computed = comp.componentOptions.Ctor.options.computed || {}
          validators.forEach(validator => {
            if (!computed[validator]) { 
              computed[validator] = bind(() => {
                return bind(getValidatorResult, comp.child)(validator)
              }, comp.child)
            }
          })

          console.log('validatable#render return:', comp.child)
          return comp
        }
      })

      Vue.component('validation-control', {
        props: ['name', 'classes', 'groups', 'children', 'tag'],
        data () {
          return { validations: [] }
        },
        // TODO: don't want to root node ...
        render (h) {
          console.log('validation-control#render', this)
          return h(this.tag || 'div', null, this.children)
        },
        created () {
          console.log('validation-control#create', this._vnode)
        },
        mounted () {
          this.validations = collectValidation(this.children)
        },
        updated () {
          this.validations = collectValidation(this.children)
        }
      })

      function collectValidation (vnodes) {
        let validations = []
        for (let i = 0; i < vnodes.length; i++) {
          const vnode = vnodes[i]
          if (!vnode.tag) {
            continue
          }
          const validationMatch = vnode.tag.match(/vue-component-[0-9]+-validate-control/)
          if (validationMatch) {
            validations.push(vnode.child)
          } else if (vnode.children) {
            const inner = collectValidation(vnode.children)
            if (inner.length > 0) {
              validations = validations.concat(inner)
            }
          }
        }
        return validations
      }

      Vue.component('validation', {
        functional: true,
        props: ['name', 'classes', 'groups', 'tag'],
        render (h, { props, children, data }) {
          console.log('validation#render', props, children(), data)
          props.children = children()
          const comp = h('validation-control', { props })
          return comp
        }
      })

      const vm = new Vue({
        data: {
          username: '',
          comment: '',
          valid: 0,
          invalid: 0,
          dirty: 0,
          pristin: 0,
          modified: 0
        },
        validation: {
          name: 'validation',
          groups: [],
          classes: {}
        },
        methods: {
          onParentInput (e) {
            console.log('onParentInput', e)
          },
          onFocus (e) {
            console.log('onFocus', e, e.target.vm)
          }
        }
      }).$mount('#app')
    </script>
  </body>
</html>
