<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title></title>
    <script src="../node_modules/vue/dist/vue.js"></script>
  </head>
  <body>
    <div id="app">
      <p>{{foo}}</p>
      <validate @valid="onInput" v-model="foo" field="filed1" validators="required">
        <input type="text" v-model="foo">
      </validate>
      <p>{{bar}}</p>
      <validate field="filed2" validators="required">
        <input type="text" v-model="bar">
      </validate>
      <comp @valid="onInput" field="field3"></comp>
    </div>
    <script>
      const ValidateControl = Vue.extend({
        name: 'ValidateControl',
        props: ['field', 'child'],
        created () {
          console.log(`validate-control-${this._uid}#created`, this)
        },
        mounted () {
          console.log(`validate-control-${this._uid}#mounted`, this)
          this.$el.vm = this
          this.$el.addEventListener('input', this.handler)
          setTimeout(() => {
            this.$emit('valid', this)
          }, 3000)
        },
        updated () {
          console.log(`validate-control-${this._uid}#updated`, this)
        },
        render (h) {
          console.log(`validate-control-${this._uid}#render`, this)
          this.child.host = this
          return this.child
        }
      })

      Vue.component('validate', {
        functional: true,
        props: ['field', 'validators'],
        render (h, { props, data, children }) {
          console.log('validate#render', props, data, children())
          const child = props.child = children()[0]
          const comp = h(ValidateControl, { props })
          return comp
        }
      })

      Vue.component('comp', {
        template: '<div>comp:<input type="text" v-model="field"></div>',
        props: ['field'],
        mounted () {
          setTimeout(() => {
            this.$emit('valid', this)
          }, 2000)
        }
      })


      const vm = new Vue({
        data: {
          foo: 'foo',
          bar: 'bar'
        },
        created () {
          console.log(`root-${this._uid}#created`, this)
        },
        mounted () {
          console.log(`root-${this._uid}#mounted`, this)
        },
        updated () {
          console.log(`root-${this._uid}#updated`, this)
        },
        methods: {
          onInput (e) {
            console.log(`vm${this._uid}#onInput`, e)
          }
        }
      }).$mount('#app')
    </script>
  </body>
  </body>
</html>
