<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title></title>
    <script src="../node_modules/vue/dist/vue.js"></script>
  </head>
  <body>
    <div id="app">
      <p>{{foo}}</p>
      <validation name="validation1">
        <validate @valid="onInput" :handler="onInput" field="filed1" validators="required">
          <input type="text" v-model="foo">
        </validate>
        <p>{{bar}}</p>
        <validate :handler="onInput" field="filed2" validators="required">
          <input type="text" v-model="bar">
        </validate>
      </validation>
      <comp @valid="onInput" field="field3"></comp>
    </div>
    <script>
      Vue.component('validation', {
        functional: true,
        props: ['name'],
        render (h, props, children) {
          console.log('validation#render', props, children)
          return children
        }
      })

      Vue.component('validate', {
        functional: true,
        props: ['handler', 'field', 'validators'],
        render (h, props, children) {
          console.log('validate#render', props, children)
          const child = props.child = children[0]
          const comp = h('validate-control', { props })
          return comp
        }
      })

      Vue.component('comp', {
        template: '<div>comp:<input type="text" v-model="field"></div>',
        props: ['field'],
        mounted () {
          setTimeout(() => {
            this.$emit('valid', this)
          }, 2000)
        }
      })

      Vue.component('validate-control', {
        props: ['handler', 'field', 'child'],
        created () {
          console.log(`validate-control-${this._uid}#created`, this)
        },
        mounted () {
          console.log(`validate-control-${this._uid}#mounted`, this)
          this.$el.vm = this
          this.$el.addEventListener('input', this.handler)
          setTimeout(() => {
            this.$emit('valid', this)
          }, 3000)
        },
        updated () {
          console.log(`validate-control-${this._uid}#updated`, this)
        },
        render (h) {
          console.log(`validate-control-${this._uid}#render`, this)
          this.child.host = this
          return this.child
        }
      })

      const vm = new Vue({
        data: {
          foo: 'foo',
          bar: 'bar'
        },
        created () {
          console.log(`root-${this._uid}#created`, this)
        },
        mounted () {
          console.log(`root-${this._uid}#mounted`, this)
        },
        updated () {
          console.log(`root-${this._uid}#updated`, this)
        },
        methods: {
          onInput (e) {
            console.log(`vm${this._uid}#onInput`, e)
          }
        }
      }).$mount('#app')
    </script>
  </body>
  </body>
</html>
