<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title></title>
    <script src="../node_modules/vue/dist/vue.js"></script>
  </head>
  <body>
    <div id="app">
      <p>{{ msg }}</p>
      <input type="checkbox" v-model="show">
      <validate v-model="msg" @change="onChange">
        <input v-if="show" type="text" value="he" v-validate:field1="'fss'">
      </validate>
    </div>
    <script>
      const _render = Vue.prototype._render
      Vue.prototype._render = function () {
        const vnode = _render.call(this, arguments)
        console.log('_render', this._uid, vnode, this.$options.render.toString())
        return vnode
      }
      const vm = new Vue({
        data: {
          show: true,
          msg: 'hello'
        },
        directives: {
          validate: {
            bind (el, binding, vnode) {
              console.log('dir validate#bind', el, binding, vnode)
            }
          }
        },
        methods: {
          onChange (e) {
          }
        },
        components: {
          validate: {
            template: '<div class="validate"><slot></slot></div>',
            props: ['value'],
            mounted () {
              this.$el.addEventListener('input', this.onInput)
              console.log('mounted', this._uid)
            },
            destroyed () {
              this.$el.removeEventListener('input', this.onInput)
            },
            beforeUpdate () {
              this.$el.removeEventListener('input', this.onInput)
            },
            updated () {
              this.$el.addEventListener('input', this.onInput)
            },
            methods: {
              onInput (e) {
                this.$emit('input', e)
              }
            }
          }
        }
      }).$mount('#app')
    </script>
  </body>
  </body>
</html>
